{{!--  MODAL  --}}
<div
	class="modal fade"
	id="exampleModal"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="false"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Tu carrito:</h5>

				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<p class="text-danger">Borrar no funciona</p>
				<div class="row">
					{{!--  HELPER EACH con los items en el carrito --}}
					{{#each carrito}}
						<div class="col-4 text-center">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">{{this}}</h5>
									<img
										src="/{{this}}.png"
										class="card-img-top"
										alt="{{this}}"
									/>
									<a href="#" class="btn btn-danger">Borrar</a>
								</div>
							</div>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>